* {
    margin: 0;
    padding: 0;
}

.bg {
    display: flex;
    width: 100%;
    justify-content: center;
}

.body-block {
    display: flex;
    width: 500px;
    height: 100px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
}

.block {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center; 
}

#b1 {
    background-color: red;
    order: 0;
    border-radius: 20px 0 0 0;
}

#b2 {
    background-color: blue;
    flex-basis: 34%;
    order: 3;
}

#b3 {
    background-color: purple;
    flex-basis: 33%;
    order: 2;
}

#b4 {
    background-color: green;
    flex-basis: 33%;
    order: 4;
}

#b5 {
    background-color: yellow;
    order: 1;
    border-radius: 0 20px 0 0;
}